@model IPagedList<Erp.Models.People.Person>
@using Sakura.AspNetCore
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParam"]">@Html.DisplayNameFor(model => model.First().FirstName)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParam"]">@Html.DisplayNameFor(model => model.First().LastName)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["SocialIdSortParam"]">@Html.DisplayNameFor(model => model.First().SocialId)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["BirthDateSortParam"]">@Html.DisplayNameFor(model => model.First().BirthDate)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["GenderSortParam"]">@Html.DisplayNameFor(model => model.First().Gender)</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<pager setting-link-attr-data-ajax="true"/>
